main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 100px 200px;

}
.calculator_container{
    height: 600px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(146, 166, 176);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.calculator_display{
    font-weight: bold;
    font-family: 'Arvo', serif;
    text-align: right;
    font-size: 20px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(192, 231, 218);
}
.claculator_control{
    display: flex;
    justify-content: space-between;
    margin: 20px 5px 5px 5px;
}
.btn-control{
    background-color: rgb(168, 140, 195);
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    height: 60px;
    width: 95px;
    border-radius: 10px;
}
.calculator_main{
    display: flex;
}
.calculator_num{
    
    height: 400px;
    width: 300px;

    display: grid;
    grid-template-columns: repeat(3 , auto );
}
.btn-num{
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.calculator_ops{
    height: 400px;
    width: 100px;
   
    display: grid;
    grid-template-columns: repeat(1 , auto );
}
.btn-ops{
    font-size: 25px;
    font-weight: 500;
    background-color: rgb(255, 181, 43);
    margin: 5px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.maths-rules{
    height: 100px;
    width: 200px;
    background-color: white;
    border: 3px black dotted;
    border-radius: 10px;
    padding: 10px;
    margin:20px
}
footer{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 10px;
    display: block;
    margin: 1rem;
}